html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin: 20px;
}

footer {
  background-color: #f8f9fa;
  padding: 1rem;
}

.footer-team-member-names {
  font-weight: bolder;
}

.footer-client-name {
  font-weight: bolder;
}

.footer-envelope-icon {
  font-size: xx-large;
}

.footer-contact-us-title {
  font-size: xx-large;
  font-weight: bolder;
}

.page-footer {
  background-color: cyan;
}
