.footer-team-member-names {
  font-weight: bolder;
}

.footer-client-name {
  font-weight: bolder;
}

.footer-envelope-icon {
  font-size: xx-large;
}

.footer-contact-us-title {
  font-size: xx-large;
  font-weight: bolder;
}
